<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Весы</title>
</head>
<body>
<span id="weight_data"></span>
<script>
  const socket=new WebSocket(`ws://${location.host}/ws_weight`);socket.onclose=(e=>{console.log(`Соединение закрыто код: ${e.code} причина: ${e.reason}`)}),socket.onmessage=(e=>{document.querySelector("#weight_data").innerHTML=e.data});
</script>
</body>
</html>